<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New statistics</title>
  </head>
  <body>

  <script>
    $(document).ready(function() {
      var ctx2 = $("#myChart2");
      console.log(ctx2)
      var myChart = new Chart(ctx2, {
        //console.log(myChart);
          type: 'bar',
          data: {
              labels: ["Red", "Blue", "Green", "Yellow"],
              datasets: [{
                  label: 'what is ur fav colour?',
                  data:  [],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
    })
  })

    </script>

  </body>
</html>
