<div class="questionForm">
     <%= label_tag "Question" %>
     <br>
     <%= text_field_tag "questions[]" %> <a href="#" onclick="removeQuestion($(this))" class="remove-question" > X </a>
     <br>
</div>
