body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
}

img {
    display: block;
    margin: auto;
    width: 80%;
    height: 20%;

}
h1 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

.fields {
  background-color: green;
}
#desc {
  margin-top: 10px;
}
#name {
  margin-top: 200px;
}
