body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: rgba(0, 241, 255, 0.29);
  font-family: 'Lato', sans-serif;
}

a.brand-logo {
  padding-left: 40px;
}

nav {
  border-radius: 10px;
}

.brand-logo {
  padding-left: 50px;
}

#addNewQuestion {
  color: white;
}

.answer{
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 500px;
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

#container2 {
  margin-left: 390px;
}

#h {
  color: black;
  padding-left: 500px;
  padding-top: 235px;

}

.rows {
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 180px;


}
a:link {
  text-decoration: none;
  text-decoration-color: black;
}

.rowed {
  margin-right: 300px;
  border-radius: 25px;
  margin-left: 100px;
  // padding-left: 580px;
  // padding-right: 650px;
}

div.card.blue-grey.darken-1{
  border-radius: 20px;
}

img {
    display: block;
    margin: auto;
    width: 80%;
    height: 20%;

}

#body {
  background-image: url("http://www.ronavantages.ca/design/images/site/subscribe_icon1.gif");
}
h1 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

.fields {
  background-color: green;
}
#desc {
  margin-top: 10px;
}
#name {
  margin-top: 200px;
}

.wrapper{
  margin: auto auto;
  width: 50%;
}
